:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#upload-form { text-align: initial; }

#config-folder, #clock-id, #clock-size, .emsp { margin-left: 16px; }

small {
  color: #888;
}

.center { text-align: center; }

input, select, button {
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  background-color: #1a1a1a;
  transition: border-color 0.25s;
}

button {
  font-weight: 500;
  cursor: pointer;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:active { opacity: 0.8; }
button:disabled { pointer-events: none; }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
input[type=number] { appearance: textfield; text-align: right; }

.dd { position: relative; display: inline-block; }
.dd > button > .chevron::after { content: '▼'; }
.dd > .menu {
  display: none;
  position: absolute;
  text-align: left;
  border: 1px solid #646cff;
  border-radius: 4px;
  background-color: #1a1a1a;
  left: 4px;
  white-space: nowrap;
  padding: 8px 8px 8px 4px;
  z-index: 100001;
}
.dd.opened > button > .chevron::after { content: '▲'; }
.dd.opened > .menu { display: block; }

#messages { margin-top: 16px; font-weight: bold; }
.msg-error { color: #ff4444; }
.msg-info { color: #33b5e5; }

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  input, select, button, .dd > .menu {
    background-color: #f9f9f9;
  }
.msg-error { color: #cc0000; }
.msg-info { color: #0099cc; }
}
